<mat-card-title>Controle de urls ativas</mat-card-title>

<mat-card-content>
  <app-sem-registro [exibir]="!_existemUrls()"></app-sem-registro>
  <div class="m-t-1" *ngIf="_existemUrls()">
    <table mat-table [dataSource]="urls" multiTemplateDataRows class="mat-elevation-z8">
      <ng-container matColumnDef="{{coluna}}" *ngFor="let coluna of colunas">
        <th mat-header-cell *matHeaderCellDef> {{coluna}} </th>
        <td mat-cell *matCellDef="let element"> {{element[coluna]}}</td>
      </ng-container>

      <ng-container matColumnDef="elementoExpandido">
        <td mat-cell *matCellDef="let elemento" [attr.colspan]="colunas.length">
          <div class="expandir-detalhes"
            [@detailExpand]="elemento == elementoExpandido ? 'expanded' : 'collapsed'">
            <div class="diagrama-elemento">
              <div class="elemento-expandido-id"> {{elemento.urlId}} </div>
              <div class="elemento-expandido-url"> {{elemento.urlOriginal}} </div>
              <div class="elemento-expandido-acesso"> {{elemento.acessoMaximo}} </div>
              <div class="elemento-expandido-ativo"> {{elemento.ativo}} </div>
            </div>
            <div class="elemento-expandido-descricao">
              {{elemento.descricao}}
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="colunas"></tr>
      <tr mat-row *matRowDef="let elemento; columns: colunas"
        class="linha-elemento"
        [class.linha-expandida]="elementoExpandido === elemento"
        (click)="elementoExpandido = elementoExpandido === elemento ? null : elemento">
      </tr>
      <tr mat-row *matRowDef="let linha; columns: ['elementoExpandido']"
        class="linha-detalhe"></tr>
    </table>
  </div>
</mat-card-content>
