mat-card-title {
  font-size: xx-large;
  font-family: 'Space Mono';
  margin: 20px;
}

mat-card-content {
  margin: auto;
}

th, td {
  font-family: 'Space Mono';
}

form {
  flex: 1 1 auto;
  display: flex;
  justify-items: center;
  vertical-align: middle;
}

mat-form-field {
  margin-right: max(10px, 2%);
}

table {
  width: 100%;
}

.clickable {
  cursor: pointer!important;
}

.clickable:hover {
  opacity:.7;
}

.format-header {
  text-align: left;
}

.busca {
  height: 40px;
  width: 40px;
  outline: none;
  border-radius: 50%;
  border: none;
  justify-self: center;
  background-color: #222;
  color: white;
  display: flex;
  align-items: center;
  margin-top: 8px;
  margin-right: 15px;
}

.img-qr {
  width: 100%;
  height: auto;
}

.btn-qr {
  height: 30px;
  width: 30px;
  border: none;
  background: none;
  justify-self: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 10px;
  justify-content: center;
}

.icon-qr {
  font-size: 30px;
  height: 100%;
  width: auto;
  color: #222;
}

.urlid {
  display: flex;
  justify-content: space-between;
}

.span-url {
  margin-top: auto;
  margin-bottom: auto;
}

.icon-busca {
  margin-left: 2px;
}

.texto-status {
  margin-left: 5px;
}

.status {
  justify-content: center;
  font-size: 15px;
}

.dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
}

.texto-ativo {
  color: rgb(21, 189, 21);
}
.texto-inativo {
  color: rgb(190, 70, 70);
}
.ativo {
  background-color: rgb(49, 235, 86);
}

.inativo {
  background-color: rgb(247, 95, 95);
}
