nav {
  background-color: #222;
}

.container-parent {
  display: flex;
  gap: 10px;
  align-items: center;
}

.brand-photo {
  height: auto;
  width: 55px;
}

.navbar-brand {
  font-family: 'Space Mono';
  font-size: 30px;
  color: #9d9d9d;
  text-decoration: none;
}

.list-icon {
  margin-left: 5px;
  font-size: 25px;
}

.list-item {
  font-family: 'Space Grotesk';
  color: #9d9d9d;
  font-size: larger;
  display: flex;
  align-items: center;
}

.link-div {
  text-decoration: none;
  color: #504d4d;
  display: flex;
  align-items: center;
  font-size: large;
  width: 100%;
}

.link-icon {
  margin-right: 10px;
  color: #504d4d;
  font-size: 30px;
  width: 30px;
  height: auto;
}
