<div class="main-div">
  <mat-card class="mat-elevation-z4">
    <div class="main">
      <mat-card-title>Login</mat-card-title>
      <form [formGroup]="form" (submit)="submitLogin()">
        <div class="campos">
          <mat-form-field appearance="outline">
            <mat-label>Usuário</mat-label>
            <input matInput
              name="user"
              formControlName="user"
              required>
          </mat-form-field>
        </div>
        <div class="campos">
          <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput
              name="senha"
              formControlName="senha"
              [type]="mostrar ? 'text' : 'password'"
              required>
            <mat-icon matSuffix (click)="mostrar=!mostrar">{{mostrar ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field>
        </div>
        <div>
          <button class="btn" mat-raised-button matInput click="submit">Login</button>
        </div>
      </form>
    </div>
  </mat-card>
</div>
