<div class="main">
  <mat-card-title>Alterar Usuário</mat-card-title>
  <form #form="ngForm" [formGroup]="controleForm" (submit)="salvar()">
    <div class="campos">
      <mat-form-field appearance="outline">
        <mat-label>Usuário</mat-label>
        <input matInput name="user" type="text" [defaultValue]="user" readonly disabled>
      </mat-form-field>
    </div>
    <div class="campos">
      <mat-form-field appearance="outline">
        <mat-label>Senha Atual</mat-label>
        <input matInput
          name="senha"
          [type]="mostrarSenha[0] ? 'text' : 'password'"
          formControlName="senhaAtual"
          required>
        <mat-icon matSuffix (click)="alterarMostrarSenha(0)">{{mostrarSenha[0] ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
    </div>
    <div class="campos">
      <mat-form-field appearance="outline">
        <mat-label>Nova Senha</mat-label>
        <input matInput
          name="senhaNova"
          formControlName="novaSenha"
          [type]="mostrarSenha[1] ? 'text' : 'password'"
          required>
        <mat-icon matSuffix (click)="alterarMostrarSenha(1)">{{mostrarSenha[1] ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
    </div>
    <div class="campos">
      <mat-form-field appearance="outline">
        <mat-label>Confirmar Nova Senha</mat-label>
        <input matInput
          name="confSenha"
          formControlName="confirmaSenha"
          [type]="mostrarSenha[2] ? 'text' : 'password'"
          required>
        <mat-icon matSuffix (click)="alterarMostrarSenha(2)">{{mostrarSenha[2] ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
    </div>
    <div class="btns">
      <div>
        <button class="btn" mat-raised-button matInput (click)="fechar()">Cancelar</button>
      </div>
      <div class="dir">
        <button class="btn" mat-raised-button matInput click="submit" [disabled]="controleForm.invalid">Alterar</button>
      </div>
    </div>
  </form>
</div>
