/* You can add global styles to this file, and also import other style files */

.primary-blue {
  color: rgb(0 184 173);
}

.primary-pink {
  color: rgb(251, 160, 177);
}

.sec-pink {
  color: #fff3f3;
}
